.chapka{
    background-color: #1974d2;
   }
   
   .Mikuland{
        color: aqua;
        font-size: 96px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        font-family: inter;
        font-style: italic;
        font-weight: 400;
        line-height: 116px;
        max-width: 400px;
   }
   .nav_list{
       display: flex;
       margin: 0 auto;
        max-width: 640px;
        
   }
   .nav_item2{
       color:aqua;
       font-size: 46px;
       text-decoration: none;
       font-style: italic;
   
   }
   .nav_item{
       list-style-type: none; 
       margin-right: 40px;
     
   }